/* home */
#home {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;

}

#home h1 {
  font-size: 3rem;
  color: #fff2e1;
}

#home p {
  font-size: 1.5rem;
  color: #b392ac;
  text-align: center;
}

div.socialLinks {
  display: flex;
  gap:25px;
}

div.socialLinks .LinkedIn_Icon, .GitHub_Icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
}



/* end of home */
